.container{
    margin-top:40px;
    font-family: 'Overpass', sans-serif;
    background-color: #F0FFF0;
    max-width: 2000px;
    height: 500px;
    left: 0px;
    top: 0px;
    padding: 0px 30px 0px 200px;

}
.img-width{
    width: 240px;
    
}
.sign-button{
    border: 0px solid;
    border-radius: 40px;
    background-color: #35bb12;
    width: 80px;
    height: 40px;
    color: #ffffff;

    font-size: 18px;
}
#first-img{
    width: 500px;
}
img{
    width: 50px;
}
.get-start-button{
    border: 0px solid;
    border-radius: 50px;
    background-color:#35bb12 ;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
 
}
.container-2{
    margin: 50px 200px 110px 240px ;
    background-color: #F0FFF0;
  
    
}
.card-size{
    width: 700px;
    height: 300px;
}
.container-3{
    margin: 20px 200px 30px 200px;

}
.h1{
    text-align: center;
    font-size: 50px;

}
.container-4{
padding-left: 450px;
margin-right: 300px;
}
.man-png{
    width: 100px;
}
.Bonus-section{
    background-image: url("Photos/search-background.png");
    height: 600px;;
  
    padding-left:  60px;
}
.container-5{
    background-color: black;
    color: white;
    margin: 30px 100px 10px 100px;
    padding: 30px 50px 30px 50px ;

}
.copy-right{
    text-align: center;
}
